<div class="col-10 offset-1">
  <h1>About Splurty</h1>

<p>
  Splurty was built by <a target="_blank" href="https://github.com/SiriMitchell/warm-socks">Siri</a> a project oriented type A personality who loves to take on more than she should. Driven by a die-hard midwestern work ethic and fuel at least in part by tea, Siri has a love of entrepreneurship, books with happy endings, and (of course) warm socks. Siri has learned to code from scratch this year and thinks it's pretty darn exciting! If you want to learn to code as well - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
</p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'siri.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Siri Mitchell</h2>
      <br />
      <p>
      </p>
    </div>
  </div>
  <br class="clear" />









</div>