<h2>
  <span>Splurty / No. <%= @quote.id %></span>
  Here's the <br><u>funniest thing my kid ever said:</u>
</h2>


<h1><%= @quote.saying %></h1>
<h3 class="float-right">- <%= @quote.author %></h3>

<br class="clear" />
<br />
<br />
<br />
